@if (createMode)
{
<div class="container">
    <div class="form-container">
        <h1>DevHub</h1>
        <p>Developer Management Platform</p>
        <h2>Sign up to DevHub</h2>

        <form [formGroup]="signupForm" (ngSubmit)="signup()">

            <label for="first_name">First Name: </label>
            <input type="text" formControlName="first_name" id="first_name" placeholder="Enter your first name">

            <label for="last_name">Last name: </label>
            <input type="text" formControlName="last_name" id="last_name" placeholder="Enter your last name">

            <label for="email">Email: </label>
            <input type="text" formControlName="email" id="email" placeholder="Enter your email">

            <label for="password">Password: </label>
            <input type="password" formControlName="password" id="password" placeholder="Enter your password" minlength="5">

            <button type="submit" class="signin-button">Signup</button>

            <p class="signup">Have an account? <a routerLink="/auth/login">Login page</a></p>
        </form>
    </div>
</div>
}
@else
{
<div class="container">
    <div class="form-container">
        <h1>DevHub</h1>
        <p>Developer Management Platform</p>
        <h2>Login to DevHub</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <label for="email">Email: </label>
            <input type="email" formControlName="email" id="email" placeholder="Enter your email" required>

            <label for="password">Password: </label>
            <input type="password" formControlName="password" id="password" placeholder="Enter your password" required>

            <button type="submit" class="signin-button">Login</button>

            <p class="signup">Don't have an account? <a routerLink="/auth/signup">Sign up for free</a></p>
        </form>
    </div>
</div>
}
