@if (createMode)
{
<div class="container">
    <div class="form-container">
        <h1>DevHub</h1>
        <p>Developer Management Platform</p>
        <h2>Sign up to DevHub</h2>

        <form [formGroup]="signupForm" (ngSubmit)="signup()">

            <div class="input">
                <label for="first_name">First Name: </label>
                <input type="text" formControlName="first_name" id="first_name" placeholder="Enter your first name" name="first_name">
            </div>

            <div class="input">
                <label for="last_name">Last name: </label>
                <input type="text" formControlName="last_name" id="last_name" placeholder="Enter your last name">
            </div>

            <div class="input">
                <label for="email">Email: </label>
                <input type="email" formControlName="email" id="email" placeholder="Enter your email">

                <div *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)"
                    class="error-message">
                    <div *ngIf="signupForm.get('email')?.errors?.['required']">Email is required.</div>
                    <div *ngIf="signupForm.get('email')?.errors?.['email']">Invalid email format.</div>
                </div>
            </div>

            <div class="input">
                <label for="password">Password: </label>
                <input type="password" formControlName="password" id="password" placeholder="Enter your password"
                    minlength="5">

                <div *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)"
                    class="error-message">
                    <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
                    <div *ngIf="signupForm.get('password')?.errors?.['minlength']">Password must be at least 5
                        characters
                        long.</div>
                </div>
            </div>

            <button type="submit" class="signin-button">Signup</button>

            <p *ngIf="signupError" class="error-message">{{ signupError }}</p>

            <p class="signup">Have an account? <a routerLink="/auth/login">Login page</a></p>
        </form>
    </div>
</div>
}
@else
{
<div class="container">
    <div class="form-container">
        <h1>DevHub</h1>
        <p>Developer Management Platform</p>
        <h2>Login to DevHub</h2>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input">
                <label for="email">Email: </label>
                <input type="email" formControlName="email" id="email" placeholder="Enter your email" required>
            </div>

            <div class="input">
                <label for="password">Password: </label>
                <input type="password" formControlName="password" id="password" placeholder="Enter your password"
                    required>
            </div>

            <button type="submit" class="signin-button">Login</button>

            <!-- Error message for invalid login -->
            <p *ngIf="loginError" class="error-message">{{ loginError }}</p>

            <p class="signup">Don't have an account? <a routerLink="/auth/signup">Sign up for free</a></p>
        </form>
    </div>
</div>
}