body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #C21A25;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #C21A25;
}

main h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

input[type="file"] {
    border: none;
}

textarea {
    height: 100px;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.cancel-button,
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button {
    background-color: #6c757d;
    color: white;
}

.submit-button {
    background-color: #C21A25;
    color: white;
}

.cancel-button:hover {
    background-color: #5a6268;
}

.submit-button:hover {
    background-color: #890009;
}