<div class="container">
  <app-sidebar></app-sidebar>

  <div class="kanban-container">

    <div class="nav-header">
      @if(isTaskboardSelected)
      {
      <div class="nav-section active left" (click)="selectSection(true)">Task Board</div>
      <div class="nav-section right" (click)="selectSection(false)">Discussion</div>
      }
      @else
      {
      <div class="nav-section left" (click)="selectSection(true)">Task Board</div>
      <div class="nav-section active right" (click)="selectSection(false)">Discussion</div>
      }
    </div>

    @if(isTaskboardSelected)
    {
    <header class="kanban-header">

      <div class="header-title">
        <h2>{{ taskBoard?.service?.name }}</h2>
        <div class="header-info">
          <p>Cheif: {{ taskBoard?.service?.chief?.first_name}} {{ taskBoard?.service?.chief?.last_name}}</p>

          @if(taskBoard?.service?.projectManager)
          {
            <p>Project Manager: {{ taskBoard?.service?.projectManager?.first_name}} {{
            taskBoard?.service?.projectManager?.last_name}}</p>
          }

          <p>Deadline: {{ taskBoard?.service?.deadline | date: "dd/MM/yyyy"}}</p>
        </div>
      </div>

      <div class="header-progress">
        <p>Project Progress: </p>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="servicesInfo.completionRate"></div>
        </div>
        <strong>{{ formatDecimal(servicesInfo.completionRate) }}%</strong>
      </div>

      <div class="header-actions">
        <button class="add-task" (click)="openPopup()">Add Task</button>
        <button class="back-btn" (click)="goBack()">Back</button>
      </div>
    </header>

    <div *ngIf="showKanban">
      <jqxKanban #kanbanReference [width]="'100%'" [height]="'100%'" [columns]="columns" [source]="dataAdapter"
        (onItemAttrClicked)="openTaskDetailPopup($event.args.item)" (onItemMoved)="onItemMoved($event)">
      </jqxKanban>
    </div>

    <add-task-popup *ngIf="showPopup" (taskAdded)="onTaskAdded($event)" (close)="closePopup()"></add-task-popup>

    <task-popup *ngIf="showTaskDetailPopup" [task]="selectedTask" (close)="closeTaskDetailPopup()"
      (delete)="deleteTask($event)">
    </task-popup>
    }
    @else
    {
      <header class="kanban-header">

        <div class="header-title">
          <h2>{{ taskBoard?.service?.name }}</h2>
          <div class="header-info">
            <p>Cheif: {{ taskBoard?.service?.chief?.first_name}} {{ taskBoard?.service?.chief?.last_name}}</p>
  
            @if(taskBoard?.service?.projectManager)
            {
              <p>Project Manager: {{ taskBoard?.service?.projectManager?.first_name}} {{
              taskBoard?.service?.projectManager?.last_name}}</p>
            }
  
            <p>Deadline: {{ taskBoard?.service?.deadline | date: "dd/MM/yyyy"}}</p>
          </div>
        </div>

        <h3>Description:</h3>
        <input type="text" name="description" class="description-conatiner"
        [disabled]="!editMode" [(ngModel)]="taskBoard!.service!.description"
        placeholder="Add a Description...">

        <div class="header-actions">
          <button *ngIf="!editMode" (click)="toggleEdit()" class="btn edit-btn">Edit</button>
          <div *ngIf="editMode" class="edit-buttons">
            <button class="btn btn-secondary" (click)="toggleEdit()">Cancel</button>
            <button class="btn btn-save" (click)="saveChanges()">Save</button>
          </div>
          <button class="back-btn" (click)="goBack()">Back</button>
        </div>
      </header>
    }

  </div>
</div>