.container {
  display: flex;
  width: 100%;
  overflow-y: hidden;
}

.kanban-container {
  padding: 20px;
  background-color: #f7f9fc;
  width: 100%;
  height: 100%;
}

.kanban-header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.header-title {
  display: flex;
  flex-direction: column;
}

.header-info
{
  display: flex;
  justify-content: space-between;
}

.header-info p {
  margin: 0;
}

.header-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.header-progress strong {
  margin: 0.5em;
}

.progress-bar {
  width: 90%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background-color: #dc2626;
  /* Red color */
}

.header-actions {
  display: flex;
  justify-content: space-between;
  /* Distribute space between items */
  align-items: center;
  /* Center items vertically */
  width: 100%;
  /* Ensure actions take up full width */
  margin-top: 10px;
  /* Optional: Adds space above the button row */
}

.add-task,
.filter,
.back-btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #C21A25;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-btn {
  margin-left: auto;
  /* Pushes the back button to the right end */
}