* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
}

.container {
    display: flex;
    width: 100%;
}

.profile-container {
    background-color: #ffffff;
    padding: 20px;
    flex: 1;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100%;
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-image {
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile-container h1 {
    margin: 0;
    font-size: 28px;
}

.email {
    color: #666;
}

.role {
    display: inline-block;
    background-color: #dddddd;
    color: #C21A25;
    border: 1px solid #ec8585;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0;
}

.edit-button {
    background-color: #C21A25;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    /* background-color: #890009; */
}

.certificates, .services {
    margin: 20px 0;
}

.certificates {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.certificate {
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #dddddd;
    color: #C21A25;
    border: 1px solid #ec8585;
}

.services {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.service {
    background-color: #f5e8e8;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ec8585; 
    flex: 1 1 calc(48% - 10px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}