.popup {
    position: fixed;
    width: 20em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    z-index: 1000;
  }

  .popup textarea
  {
    width: 100%;
  }
  
  .popup-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .tag-container
  {
    display: flex;
    gap: 0.5em;
  }

  .tag
  {
    background-color: #f5e8e8;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ec8585; 
    flex: 1 1 calc(48% - 10px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    transition: all 0.2s;
}