@import 'jqwidgets-ng/jqwidgets/styles/jqx.base.css';
@import 'highlight.js/styles/atom-one-light.css';


*
{
    font-family: Arial, sans-serif;
}

button
{
    transition: filter 0.2s;
}

button:hover
{
    filter: brightness(0.8);
}
