.container
{
  display: flex;
  width: 100%;
}


.dashboard-page_1239-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: 0px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
  border-color: #ced4da;
  border-style: solid;
  border-width: 2px;
  background: #ffffff;
  width: 1291px;
  height: 1424px;
}
.body_1239-3 {
  position: relative;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #ffffff;
  height: 1440px;
  width: -webkit-fill-available;
}
.div_1239-4 {
  top: -18px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1201px;
  height: 1440px;
}
.div_1239-5 {
  top: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1184px;
  height: 1440px;
}
.div_1239-26 {
  top: 77px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1184px;
  height: 1363px;
}
.div_1239-27 {
  top: 32px;
  left: 32px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1120px;
  height: 458px;
}
.div_1239-28 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 352px;
  height: 458px;
}
.div_1239-29 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #f3f4f6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 352px;
  height: 458px;
  box-shadow: 0px 1px 2px 0px #0000000c;
}
.div_1239-30 {
  top: 25px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 56px;
}
.text-project-progress_1239-31 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 18px;
  font-family: Inter;
  line-height: 28px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 83px;
  height: 56px;
}

.select_1239-32 {
  top: 14px;
  left: 126px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 1px;
  background: #f9fafb;
  width: 176px;
  height: 29px;
}
.text-all-projects_1239-33 {
  top: 0px;
  left: 12px;
  position: absolute;
  display: flex;
  color: #4b5563;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 74px;
  height: 29px;
}

.frame_1239-34 {
  top: 6px;
  left: 151px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-35 {
  top: 6px;
  left: 4px;
  position: absolute;
  display: flex;
  display: flex;
}

.div_1239-36 {
  top: 105px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 256px;
}
.div_1239-37 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 250px;
}
.svg_1239-38 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 302px;
  height: 250px;
}
.frame_1239-39 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 250px;
}
.vector_1239-40 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1239-41 {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.vector_1239-42 {
  top: 10px;
  left: 10px;
  position: absolute;
  display: flex;
  display: flex;
}

.group_1239-43 {
  top: 20px;
  left: 75px;
  position: absolute;
  display: flex;
  display: flex;
}
.group_1239-44 {
  width: 152px;
  height: 152px;
}
.vector_1239-45 {
  display: flex;
}

.vector_1239-46 {
  display: flex;
}

.vector_1239-47 {
  display: flex;
}

.vector_1239-48 {
  display: flex;
}

.text-text_1239-49 {
  top: 6px;
  left: 151px;
  position: absolute;
  display: flex;
  color: #000000;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 0px;
  height: 22px;
}

.text-text_1239-50 {
  top: 12px;
  left: 151px;
  position: absolute;
  display: flex;
  color: #666666;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  text-wrap: nowrap;
  width: 0px;
  height: 15px;
}

.text-text_1239-51 {
  top: 235px;
  left: 10px;
  position: absolute;
  display: flex;
  color: #666666;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 0px;
  height: 15px;
}

.group_1239-52 {
  top: 194px;
  left: 47px;
  position: absolute;
  display: flex;
  width: 207px;
  height: 41px;
}
.vector_1239-53 {
  display: flex;
}

.group_1239-54 {
  width: 189px;
  height: 30px;
}
.group_1239-55 {
  width: 189px;
  height: 30px;
}
.group_1239-56 {
  width: 82px;
  height: 15px;
}
.text-completed_1239-57 {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 63px;
  height: 15px;
}

.vector_1239-58 {
  display: flex;
}

.group_1239-59 {
  width: 83px;
  height: 15px;
}
.text-in-progress_1239-60 {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 64px;
  height: 15px;
}

.vector_1239-61 {
  display: flex;
}

.group_1239-62 {
  width: 66px;
  height: 15px;
}
.text-pending_1239-63 {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 47px;
  height: 15px;
}

.vector_1239-64 {
  display: flex;
}

.group_1239-65 {
  width: 58px;
  height: 15px;
}
.text-at-risk_1239-66 {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  text-wrap: nowrap;
  width: 39px;
  height: 15px;
}

.vector_1239-67 {
  display: flex;
}

.div_1239-68 {
  top: 377px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 56px;
}
.div_1239-69 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 36px;
}
.text-73-_1239-70 {
  top: 0px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 30px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  width: 72px;
  height: 36px;
}

.div_1239-71 {
  top: 36px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 302px;
  height: 20px;
}
.text-overall-completion_1239-72 {
  top: 1px;
  left: 88px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  width: 131px;
  height: 20px;
}

.div_1239-73 {
  top: 0px;
  left: 384px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 736px;
  height: 458px;
}
.div_1239-74 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #f3f4f6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 736px;
  height: 454px;
  box-shadow: 0px 1px 2px 0px #0000000c;
}
.h3_1239-75 {
  top: 25px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 28px;
}
.text-projects-overview_1239-76 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 164px;
  height: 28px;
}

.div_1239-77 {
  top: 77px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 352px;
}
.table_1239-78 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 352px;
}
.thead_1239-79 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 45px;
}
.tr_1239-80 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f3f4f6;
  border-style: solid;
  border-bottom-width: 1px;
  background: #00000000;
  width: 686px;
  height: 45px;
}
.th_1239-81 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 356px;
  height: 45px;
}
.text-project-title_1239-82 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 121px;
  height: 20px;
}

.th_1239-83 {
  top: 0px;
  left: 356px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 185px;
  height: 45px;
}
.text-deadline_1239-84 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 80px;
  height: 20px;
}

.th_1239-85 {
  top: 0px;
  left: 541px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 145px;
  height: 45px;
}
.text-progress_1239-86 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 86px;
  height: 20px;
}

.tbody_1239-87 {
  top: 45px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 308px;
}
.tr_1239-88 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 686px;
  height: 77px;
}
.td_1239-89 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 356px;
  height: 77px;
}
.div_1239-90 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 24px;
}
.text-e-commerce-platform_1239-91 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 174px;
  height: 24px;
}

.div_1239-92 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 20px;
}
.text-web-development_1239-93 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 127px;
  height: 20px;
}

.td_1239-94 {
  top: 0px;
  left: 356px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 185px;
  height: 77px;
}
.text-dec-15--2024_1239-95 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #4b5563;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 104px;
  height: 24px;
}

.td_1239-96 {
  top: 0px;
  left: 541px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 145px;
  height: 77px;
}
.div_1239-97 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 143px;
  height: 20px;
}
.div_1239-98 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 100px;
  height: 8px;
}
.div_1239-99 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #3f00ff 0%, #6366f1 100%);
  width: 85px;
  height: 8px;
}

.text-85-_1239-100 {
  top: 0px;
  left: 112px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.tr_1239-101 {
  top: 77px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 686px;
  height: 77px;
}
.td_1239-102 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 356px;
  height: 77px;
}
.div_1239-103 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 24px;
}
.text-mobile-app-redesign_1239-104 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 169px;
  height: 24px;
}

.div_1239-105 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 20px;
}
.text-ui-ux-design_1239-106 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 95px;
  height: 20px;
}

.td_1239-107 {
  top: 0px;
  left: 356px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 185px;
  height: 77px;
}
.text-jan-20--2025_1239-108 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #4b5563;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 105px;
  height: 24px;
}

.td_1239-109 {
  top: 0px;
  left: 541px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 145px;
  height: 77px;
}
.div_1239-110 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 143px;
  height: 20px;
}
.div_1239-111 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 99px;
  height: 8px;
}
.div_1239-112 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #3f00ff 0%, #6366f1 100%);
  width: 60px;
  height: 8px;
}

.text-60-_1239-113 {
  top: 0px;
  left: 111px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.tr_1239-114 {
  top: 154px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 686px;
  height: 77px;
}
.td_1239-115 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 356px;
  height: 77px;
}
.div_1239-116 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 24px;
}
.text-data-analytics-dashboard_1239-117 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 206px;
  height: 24px;
}

.div_1239-118 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 20px;
}
.text-analytics_1239-119 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 66px;
  height: 20px;
}

.td_1239-120 {
  top: 0px;
  left: 356px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 185px;
  height: 77px;
}
.text-nov-30--2024_1239-121 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #4b5563;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 109px;
  height: 24px;
}

.td_1239-122 {
  top: 0px;
  left: 541px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 145px;
  height: 77px;
}
.div_1239-123 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 143px;
  height: 20px;
}
.div_1239-124 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 100px;
  height: 8px;
}
.div_1239-125 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #3f00ff 0%, #6366f1 100%);
  width: 92px;
  height: 8px;
}

.text-92-_1239-126 {
  top: 0px;
  left: 112px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.tr_1239-127 {
  top: 231px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 686px;
  height: 77px;
}
.td_1239-128 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 356px;
  height: 77px;
}
.div_1239-129 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 24px;
}
.text-marketing-campaign_1239-130 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 167px;
  height: 24px;
}

.div_1239-131 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 354px;
  height: 20px;
}
.text-marketing_1239-132 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 72px;
  height: 20px;
}

.td_1239-133 {
  top: 0px;
  left: 356px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 185px;
  height: 77px;
}
.text-dec-05--2024_1239-134 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #4b5563;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 108px;
  height: 24px;
}

.td_1239-135 {
  top: 0px;
  left: 541px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 145px;
  height: 77px;
}
.div_1239-136 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 143px;
  height: 20px;
}
.div_1239-137 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 99px;
  height: 8px;
}
.div_1239-138 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #3f00ff 0%, #6366f1 100%);
  width: 45px;
  height: 8px;
}

.text-45-_1239-139 {
  top: 0px;
  left: 111px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.div_1239-140 {
  top: 522px;
  left: 32px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1120px;
  height: 454px;
}
.div_1239-141 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #f3f4f6;
  border-style: solid;
  border-width: 1px;
  background: #ffffff;
  width: 1120px;
  height: 454px;
  box-shadow: 0px 1px 2px 0px #0000000c;
}
.h3_1239-142 {
  top: 25px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 28px;
}
.text-projects-with-the-most-imminent-deadline_1239-143 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 364px;
  height: 28px;
}

.div_1239-144 {
  top: 77px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 352px;
}
.table_1239-145 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 352px;
}
.thead_1239-146 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 45px;
}
.tr_1239-147 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f3f4f6;
  border-style: solid;
  border-bottom-width: 1px;
  background: #00000000;
  width: 1070px;
  height: 45px;
}
.th_1239-148 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 440px;
  height: 45px;
}
.text-task-name_1239-149 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 94px;
  height: 20px;
}

.th_1239-150 {
  top: 0px;
  left: 440px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 267px;
  height: 45px;
}
.text-status_1239-151 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 64px;
  height: 20px;
}

.th_1239-152 {
  top: 0px;
  left: 707px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 205px;
  height: 45px;
}
.text-deadline_1239-153 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 80px;
  height: 20px;
}

.th_1239-154 {
  top: 0px;
  left: 912px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 158px;
  height: 45px;
}
.text-progress_1239-155 {
  top: 13px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.7px;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 86px;
  height: 20px;
}

.tbody_1239-156 {
  top: 45px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 308px;
}
.tr_1239-157 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 1070px;
  height: 77px;
}
.td_1239-158 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 440px;
  height: 77px;
}
.div_1239-159 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 24px;
}
.text-payment-gateway-integration_1239-160 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 233px;
  height: 24px;
}

.div_1239-161 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 20px;
}
.text-e-commerce-platform_1239-162 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 150px;
  height: 20px;
}

.td_1239-163 {
  top: 0px;
  left: 440px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 267px;
  height: 77px;
}
.span_1239-164 {
  top: 31px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #dcfce7;
  width: 97px;
  height: 20px;
}
.i_1239-165 {
  top: 2px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 11px;
  height: 16px;
}
.svg_1239-166 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 11px;
  height: 12px;
}
.frame_1239-167 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-168 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-completed_1239-169 {
  top: 2px;
  left: 25px;
  position: absolute;
  display: flex;
  color: #166534;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 68px;
  height: 16px;
}

.td_1239-170 {
  top: 0px;
  left: 707px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 205px;
  height: 77px;
}
.text-nov-28--2024_1239-171 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 110px;
  height: 24px;
}

.td_1239-172 {
  top: 0px;
  left: 912px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 158px;
  height: 77px;
}
.div_1239-173 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 156px;
  height: 20px;
}
.div_1239-174 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 106px;
  height: 8px;
}
.div_1239-175 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #22c55e;
  width: 106px;
  height: 8px;
}

.text-100-_1239-176 {
  top: 0px;
  left: 118px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 38px;
  height: 20px;
}

.tr_1239-177 {
  top: 77px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 1070px;
  height: 77px;
}
.td_1239-178 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 440px;
  height: 77px;
}
.div_1239-179 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 24px;
}
.text-user-authentication-system_1239-180 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 222px;
  height: 24px;
}

.div_1239-181 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 20px;
}
.text-e-commerce-platform_1239-182 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 150px;
  height: 20px;
}

.td_1239-183 {
  top: 0px;
  left: 440px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 267px;
  height: 77px;
}
.span_1239-184 {
  top: 31px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #fee2e2;
  width: 76px;
  height: 20px;
}
.i_1239-185 {
  top: 2px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 12px;
  height: 16px;
}
.svg_1239-186 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 12px;
  height: 12px;
}
.frame_1239-187 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-188 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-at-risk_1239-189 {
  top: 2px;
  left: 26px;
  position: absolute;
  display: flex;
  color: #991b1b;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 45px;
  height: 16px;
}

.td_1239-190 {
  top: 0px;
  left: 707px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 205px;
  height: 77px;
}
.text-nov-30--2024_1239-191 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 111px;
  height: 24px;
}

.td_1239-192 {
  top: 0px;
  left: 912px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 158px;
  height: 77px;
}
.div_1239-193 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 156px;
  height: 20px;
}
.div_1239-194 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 113px;
  height: 8px;
}
.div_1239-195 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #ef4444;
  width: 73px;
  height: 8px;
}

.text-65-_1239-196 {
  top: 0px;
  left: 125px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.tr_1239-197 {
  top: 154px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 1070px;
  height: 77px;
}
.td_1239-198 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 440px;
  height: 77px;
}
.div_1239-199 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 24px;
}
.text-database-optimization_1239-200 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 181px;
  height: 24px;
}

.div_1239-201 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 20px;
}
.text-data-analytics-dashboard_1239-202 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 177px;
  height: 20px;
}

.td_1239-203 {
  top: 0px;
  left: 440px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 267px;
  height: 77px;
}
.span_1239-204 {
  top: 31px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #fef9c3;
  width: 138px;
  height: 20px;
}
.i_1239-205 {
  top: 2px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 12px;
  height: 16px;
}
.svg_1239-206 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 12px;
  height: 12px;
}
.frame_1239-207 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-208 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-pending-approval_1239-209 {
  top: 2px;
  left: 26px;
  position: absolute;
  display: flex;
  color: #854d0e;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 107px;
  height: 16px;
}

.td_1239-210 {
  top: 0px;
  left: 707px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 205px;
  height: 77px;
}
.text-dec-02--2024_1239-211 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 110px;
  height: 24px;
}

.td_1239-212 {
  top: 0px;
  left: 912px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 158px;
  height: 77px;
}
.div_1239-213 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 156px;
  height: 20px;
}
.div_1239-214 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 112px;
  height: 8px;
}
.div_1239-215 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #eab308;
  width: 90px;
  height: 8px;
}

.text-80-_1239-216 {
  top: 0px;
  left: 124px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 32px;
  height: 20px;
}

.tr_1239-217 {
  top: 231px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #f9fafb;
  border-style: solid;
  border-top-width: 1px;
  background: #00000000;
  width: 1070px;
  height: 77px;
}
.td_1239-218 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 440px;
  height: 77px;
}
.div_1239-219 {
  top: 17px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 24px;
}
.text-social-media-integration_1239-220 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 192px;
  height: 24px;
}

.div_1239-221 {
  top: 41px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 438px;
  height: 20px;
}
.text-marketing-campaign_1239-222 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 143px;
  height: 20px;
}

.td_1239-223 {
  top: 0px;
  left: 440px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 267px;
  height: 77px;
}
.span_1239-224 {
  top: 31px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #dbeafe;
  width: 98px;
  height: 20px;
}
.i_1239-225 {
  top: 2px;
  left: 10px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 9px;
  height: 16px;
}
.svg_1239-226 {
  top: 2px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 9px;
  height: 12px;
}
.frame_1239-227 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-228 {
  top: 1px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.text-in-progress_1239-229 {
  top: 2px;
  left: 23px;
  position: absolute;
  display: flex;
  color: #1e40af;
  font-size: 12px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 70px;
  height: 16px;
}

.td_1239-230 {
  top: 0px;
  left: 707px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 205px;
  height: 77px;
}
.text-dec-05--2024_1239-231 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 110px;
  height: 24px;
}

.td_1239-232 {
  top: 0px;
  left: 912px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 158px;
  height: 77px;
}
.div_1239-233 {
  top: 29px;
  left: 1px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 156px;
  height: 20px;
}
.div_1239-234 {
  top: 6px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #e5e7eb;
  width: 112px;
  height: 8px;
}
.div_1239-235 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #3f00ff 0%, #6366f1 100%);
  width: 45px;
  height: 8px;
}

.text-40-_1239-236 {
  top: 0px;
  left: 124px;
  position: absolute;
  display: flex;
  color: #111827;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 33px;
  height: 20px;
}

.div_1239-237 {
  top: 1004px;
  left: 32px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 16px;
  border-color: #f3f4f6;
  border-style: solid;
  border-width: 1px;
  background: #ffffffe5;
  width: 1120px;
  height: 344px;
}
.h3_1239-238 {
  top: 25px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 506px;
  height: 28px;
}
.text-recent-achievements_1239-239 {
  top: 3px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #1f2937;
  font-size: 18px;
  font-family: Inter;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 600;
  text-align: left;
  width: 195px;
  height: 28px;
}

.div_1239-240 {
  top: 77px;
  left: 25px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 506px;
  height: 242px;
}
.div_1239-241 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #dbeafe;
  border-style: solid;
  border-width: 1px;
  background: #eff6ffcc;
  width: 1070px;
  height: 70px;
}
.div_1239-242 {
  top: 15px;
  left: 13px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #facc15 0%, #f97316 100%);
  width: 40px;
  height: 40px;
}
.i_1239-243 {
  top: 8px;
  left: 11px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 18px;
  height: 24px;
}
.svg_1239-244 {
  top: 4px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 18px;
  height: 16px;
}
.frame_1239-245 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-246 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.div_1239-247 {
  top: 13px;
  left: 65px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 237px;
  height: 44px;
}
.text-database-migration-completed_1239-248 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #1f2937;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 238px;
  height: 24px;
}

.text-by-ali-mohammed---2-days-ago_1239-249 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 214px;
  height: 20px;
}

.div_1239-250 {
  top: 86px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #dcfce7;
  border-style: solid;
  border-width: 1px;
  background: #f0fdf4cc;
  width: 1070px;
  height: 70px;
}
.div_1239-251 {
  top: 15px;
  left: 13px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #34d399 0%, #14b8a6 100%);
  width: 40px;
  height: 40px;
}
.i_1239-252 {
  top: 8px;
  left: 12px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 16px;
  height: 24px;
}
.svg_1239-253 {
  top: 4px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 16px;
  height: 16px;
}
.frame_1239-254 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-255 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
}

.div_1239-256 {
  top: 13px;
  left: 65px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 237px;
  height: 44px;
}
.text-security-certification-obtained_1239-257 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #1f2937;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 238px;
  height: 24px;
}

.text-by-fatima-al-zahra---5-days-ago_1239-258 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 220px;
  height: 20px;
}

.div_1239-259 {
  top: 172px;
  left: 0px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 12px;
  border-color: #f3e8ff;
  border-style: solid;
  border-width: 1px;
  background: #faf5ffcc;
  width: 1070px;
  height: 70px;
}
.div_1239-260 {
  top: 15px;
  left: 13px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-radius: 9999px;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: linear-gradient(180deg, #c084fc 0%, #6366f1 100%);
  width: 40px;
  height: 40px;
}
.i_1239-261 {
  top: 8px;
  left: 11px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 18px;
  height: 24px;
}
.svg_1239-262 {
  top: 4px;
  left: 0px;
  position: absolute;
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0px;
  box-sizing: border-box;
  background: #ffffff00;
  width: 18px;
  height: 16px;
}
.frame_1239-263 {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
}
.vector_1239-264 {
  top: 0px;
  left: 1px;
  position: absolute;
  display: flex;
  display: flex;
}

.div_1239-265 {
  top: 13px;
  left: 65px;
  position: absolute;
  display: flex;
  box-sizing: border-box;
  border-color: #e5e7eb;
  border-style: solid;
  border-width: 0px;
  background: #00000000;
  width: 219px;
  height: 44px;
}
.text-performance-optimization_1239-266 {
  top: 0px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #1f2937;
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 500;
  text-align: left;
  width: 206px;
  height: 24px;
}

.text-by-khalid-al-rashid---1-week-ago_1239-267 {
  top: 24px;
  left: 0px;
  position: absolute;
  display: flex;
  color: #6b7280;
  font-size: 14px;
  font-family: Inter;
  line-height: 20px;
  letter-spacing: 0%;
  text-decoration: none;
  font-weight: 400;
  text-align: left;
  width: 220px;
  height: 20px;
}
.dashboard-page_1239-2 {
  border: none !important;
}
