<div class="layout-wrapper">
  <app-header></app-header>

  <div class="layout-body">
    <app-sidebar></app-sidebar>

    <main class="content-area container2">
      <header class="header page-header">
        <h1>Recent Issues</h1>

        <div class="controls">

          <div class="search-box">
            <input
              type="text"
              [(ngModel)]="searchQuery"
              (input)="onFilterChange()"
              (keydown.enter)="onFilterChange()"
              placeholder="Search issues..."
            />
          </div>

          <select [(ngModel)]="selectedCategory" (change)="onFilterChange()">
            <option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </option>
          </select>

          <select [(ngModel)]="selectedStatus" (change)="onFilterChange()">
            <option *ngFor="let s of status" [value]="s">
              {{ s }}
            </option>
          </select>

          <button class="new-issue" (click)="goToCreateIssue()">+ New Issue</button>
        </div>
      </header>

      <section class="card-grid">
        <div *ngFor="let issue of issues">
          <div class="card">
<div class="card-tags">
  <span *ngIf="issue.category; else emptyCategory" [ngClass]="getCategoryClass(issue.category)">
    {{ issue.category }}
  </span>

  <ng-template #emptyCategory>
    <!-- reserve space so status stays aligned -->
    <span class="tag placeholder-category"></span>
  </ng-template>

  <span [ngClass]="getStatusClass(issue.status)">
    {{ issue.status }}
  </span>
</div>


            <h3>{{ issue.title }}</h3>
            <p class="description">{{ issue.previewDescription }}</p>

            <div class="card-footer">
              <span>{{ getTimeAgo(issue) }}</span>
              <button class="details-btn" (click)="openIssue(issue.id)">View Details</button>
            </div>

          </div>
        </div>
      </section>

      <div class="pagination">
        <button (click)="jumpToPage(true)" [disabled]="currentPage === 1">&lt;&lt;</button>
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">&lt;</button>

        <button
          *ngFor="let page of pageNumbers"
          (click)="changePage(page)"
          [class.active]="currentPage === page"
        >
          {{ page }}
        </button>

        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage >= getTotalPages()">&gt;</button>
        <button (click)="jumpToPage(false)" [disabled]="currentPage >= getTotalPages()">&gt;&gt;</button>
      </div>

      <footer class="footer">
        <p>Contact Us</p>
        <p>© 2025 Developer Issues Dashboard. All rights reserved.</p>
      </footer>

    </main>
  </div>
</div>
